node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts/build-info/**
artifacts/@openzeppelin/**
artifacts/@chainlink/**
artifacts/hardhat/**
artifacts/contracts/**/*.*.json

